name: Docker Buildx

on:
  workflow_call:
    inputs:
      registry:
        required: false
        type: string
        default: ghcr.io

      registry_owner:
        required: false
        type: string
        default: balutoiu # GitHub Org

      image_name:
        required: true
        type: string

      context:
        required: true
        type: string

      platforms:
        required: true
        type: string

      build_args:
        required: false
        type: string

      push:
        required: false
        type: boolean
        default: true

    secrets:
      registry_password:
        required: false

jobs:
  docker-buildx:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        if: ${{ inputs.push }}
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ inputs.registry_owner }}
          password: ${{ secrets.registry_password || secrets.GITHUB_TOKEN }}

      - name: Set the image tag environment variable
        if: github.ref_type == 'tag'
        run: echo "IMAGE_TAG=$(echo ${{ github.ref_name }} | sed "s/^${{ inputs.image_name }}-//")" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ inputs.registry_owner }}/${{ inputs.image_name }}
          tags: |
            latest
            ${{ github.sha }}
            ${{ github.ref_type == 'tag' && env.IMAGE_TAG || '' }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ inputs.platforms }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          context: ${{ inputs.context }}
          build-args: ${{ inputs.build_args }}
          pull: true
          push: ${{ inputs.push }}

      - name: Cleanup registry
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ inputs.image_name }}
          package-type: container
          min-versions-to-keep: 5
